@use 'custom';
//IMPORT THE COMPONENTS 
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typograpghy';

//IMPORT THE SECTIONS
@use 'sections/navbar';
@use 'sections/intro-section';
@use 'sections/companies';
@use 'sections/services';
@use 'sections/testimonials';
@use 'sections/faq';
@use 'sections/portoflio';
@use 'sections/get-started';
@use 'sections/footer';
